.canvasContent {
    width: 100%;
    margin: 0 auto;
}
.canvasContent>canvas {
    margin: 0 auto;
    display: flex;
}

.textContainer {
    border: 1px solid #4c4c4c;
    margin: 10px 0 10px;
    padding: 10px;
}
.newText {
    width: 100%;
}