body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #e6ecf0;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

/******** HEADER ********/
.appHeader {
  background-color: #303030;
  width: 100%;
}
.appTitle {
  font-size: 30px;
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  width: 100%;
  display: block;
  padding: 5px 0 8px;
}

/**** MAIN CONTAINER   *******/
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

/********* INDEX **************/
.boardContainer {
  padding: 10px;
}
.componentBox {
  padding: 20px 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  max-width: 1100px;
  background-color: white;
  border: 1px solid #D8E0E5;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
 /*********************/
.editorBox {
  padding-top: 30px;
}
.lblTitle {
  font-size: 25px;
}

canvas {
  border: 1px solid #08D9D6;
  background-color: #08D9D6;
  box-shadow: 7px 7px 3px #D0F6F6;
}

a {
  text-decoration: none;
}

.reactPowered {

}
.reactPowered img {
  width: 25px;
  float: left
}
.reactPowered span {
  float: left;
}