body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #EAEAEA;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

/********* INDEX **************/
.appTittle {
  font-size: 30px;
  color: #252A34;
  font-family: 'Pacifico', cursive;
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
 /*********************/
.editorBox {
  padding-top: 30px;
}
.lblTitle {
  font-size: 25px;
}

.componentBox {
  padding: 20px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #08D9D6;
}

canvas {
  border: 1px solid #08D9D6;
  background-color: #08D9D6;
  box-shadow: 7px 7px 3px #D0F6F6;
}

a {
  text-decoration: none;
}